[submodule "muisti-api-spec"]
	path = muisti-api-spec
	url = https://github.com/Metatavu/muisti-api-spec.git
[submodule "api-test-builder"]
	path = api-test-builder
	url = https://github.com/Metatavu/muisti-api-test-builder.git
